<a href="https://colab.research.google.com/github/dalshaikh/pandas-example/blob/main/pandas_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
fruits_list =['apple', 10 , 'Orange' , 55.05]
print(fruits_list)
print("**********************************")

fruits_df=pd.DataFrame(fruits_list)
print(fruits_df)

['apple', 10, 'Orange', 55.05]
**********************************
        0
0   apple
1      10
2  Orange
3   55.05

In [ ]:
import pandas as pd
fruits_list2=["apple","panana", "orange" , "Mango"]
print (fruits_list2)
fruits_df=pd.DataFrame(fruits_list2,index=['fruit_1','fruit_2','fruit_3','fruit_4'])
print(fruits_df)

['apple', 'panana', 'orange', 'Mango']
              0
fruit_1   apple
fruit_2  panana
fruit_3  orange
fruit_4   Mango

In [ ]:
import pandas as pd
fruits_list2=["apple","panana", "orange" , "Mango"]
print (fruits_list2)
fruits_df=pd.DataFrame(fruits_list2,columns=["fruits"])
print(fruits_df)

['apple', 'panana', 'orange', 'Mango']
   fruits
0   apple
1  panana
2  orange
3   Mango

In [ ]:
import pandas as pd
price_list = ['50', '100', '60', '20']
print(price_list)
print("****************")
price_df = pd.DataFrame(price_list)
print("Data type before : ", price_df.dtypes)

price_df = pd.DataFrame(price_list, dtype='float64')
print("Data type after : ", price_df.dtypes)
print(price_df)

['50', '100', '60', '20']
****************
Data type before :  0    object
dtype: object
Data type after :  0    float64
dtype: object
       0
0   50.0
1  100.0
2   60.0
3   20.0

In [ ]:
import pandas as pd

# Create list
fruits_list = [['Apple', 'Banana', 'Orange', 'Mango'],[120, 40, 80, 500]]
print(fruits_list)

# Create DataFrame from list
fruits_df = pd.DataFrame(fruits_list)
print(fruits_df)

[['Apple', 'Banana', 'Orange', 'Mango'], [120, 40, 80, 500]]
       0       1       2      3
0  Apple  Banana  Orange  Mango
1    120      40      80    500

In [ ]:
import pandas as pd

# Create list
fruits_list = [['Apple', 'Banana', 'Orange', 'Mango'],[120, 40, 80, 500]]
print(fruits_list)

# Create DataFrame from list
fruits_df = pd.DataFrame(fruits_list).transpose()
print(fruits_df)

[['Apple', 'Banana', 'Orange', 'Mango'], [120, 40, 80, 500]]
        0    1
0   Apple  120
1  Banana   40
2  Orange   80
3   Mango  500

In [ ]:
import pandas as pd

# Create multiple lists
fruits_list = ['Apple', 'Banana', 'Orange', 'Mango']
price_list = [120, 40, 80, 500]
#zip() function to combine two list
# Create DataFrame
fruits_df = pd.DataFrame(list(zip(fruits_list, price_list )), columns = ['Name', 'Price'])
print(fruits_df)

     Name  Price
0   Apple    120
1  Banana     40
2  Orange     80
3   Mango    500

In [ ]:
import pandas as pd

# Create multiple lists
fruits_list = ['Apple', 'Banana', 'Orange', 'Mango']
price_list = [120, 40, 80, 500]

# Create dictinary  بدل ما احط جملة ال columns اللي فوق
fruits_dict = {'Name': fruits_list,
               'Price': price_list}
print(fruits_dict)

# Create DataFrame from dict
fruits_df = pd.DataFrame(fruits_dict)
print(fruits_df)

{'Name': ['Apple', 'Banana', 'Orange', 'Mango'], 'Price': [120, 40, 80, 500]}
     Name  Price
0   Apple    120
1  Banana     40
2  Orange     80
3   Mango    500

In [ ]:
import pandas as pd

student_dict = {"name": ["Joe", "Nat"], "age": [20, 21], "marks": [85.10, 77.80]}

# Create DataFrame from dict
student_df = pd.DataFrame(student_dict)
print(student_df)

# drop column
student_df = student_df.drop

print(student_df)

  name  age  marks
0  Joe   20   85.1
1  Nat   21   77.8
<bound method DataFrame.drop of   name  age  marks
0  Joe   20   85.1
1  Nat   21   77.8>